@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-fixed bg-gradient-to-b from-[#070707] via-[#201424] to-[#41214D] text-foreground;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 282 100 64%;
    --primary-foreground: 282 100 98%;
    --secondary: 245 58 56%;
    --secondary-foreground: 0 0% 9%;
    --button-secondary: 0, 2%, 10%;
    --button-secondary-foreground: 0 0% 100%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 282 100 64%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 282 100 64%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 282 100 64%;
    --primary-foreground: 282 100 98%;
    --secondary: 245 58 56%;
    --secondary-foreground: 0 0% 98%;
    --button-secondary: 0, 2%, 10%;
    --button-secondary-foreground: 0 0% 100%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 282 100 64%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 282 100 64%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-gradient-to-b from-[#070707] via-[#201424] to-[#41214D] text-foreground;
  }
  .gradient-border-wrapper {
    padding: 1px;
    background-image: linear-gradient(
        hsl(var(--background)),
        hsl(var(--background))
      ),
      linear-gradient(
        to bottom right,
        hsl(var(--primary)),
        hsl(var(--secondary))
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
}

@layer components {
  .button-secondary {
    @apply bg-[hsl(var(--button-secondary))] text-[hsl(var(--button-secondary-foreground))] hover:scale-110 focus:ring-2 focus:ring-[hsl(var(--button-secondary))]/50 transition-all duration-200 transform-gpu;
  }
}
